<div class="row insert-row">
  <div class="col-4"></div>
  <div class="col-2">
    <label class="m-2" for="cityToAdd">Città</label>
    <input [(ngModel)]="cityToAdd" class="form-control" id="cityToAdd" type="text">
  </div>
  <div class="col-2">
    <label class="m-2" for="countryCode">Nazione</label>
    <input [(ngModel)]="countryCode" class="form-control" id="countryCode" type="text">
  </div>
</div>
<div class="row insert-row">
  <div class="col-5"></div>
  <div class="col-2">
    <button (click)="addCity()" [disabled]="!canAddCity()" class="max-width btn btn-dark" type="button">Add city
    </button>
  </div>
</div>

<div *ngIf="citiesArr.length === 0" class="text-center">
  <p>Inserisci una città di cui vuoi ottenere informazioni</p>
</div>

<div *ngIf="citiesArr.length!== 0" class="text-center">
  <p>Puoi aggiungere fino a 5 città</p>
</div>

<div *ngFor="let city of citiesArr" class="forecast-main-box">
  <app-city-forecast [forecastResponse]="city.forecastResponse">
  </app-city-forecast>
  <app-city-businesses [businessesSearchResponse]="city.businessesSearch"
                       [cityName]="city.forecastResponse?.city?.name">
  </app-city-businesses>
</div>
