<div *ngIf="businessesSearchResponse" class="city-box">
  <div class="accordion" id="accordionBusinessesParent">
    <div class="accordion-item">
      <h2 class="accordion-header" id="{{ 'businessesAccordion' + cityName }}">
        <button [attr.aria-controls]="'collapseBusinessesAccordion' + cityName"
                [attr.data-bs-target]="'#collapseBusinessesAccordion' + cityName"
                aria-expanded="false"
                class="accordion-button collapsed"
                data-bs-toggle="collapse" type="button">
          {{ 'Attività a ' + cityName }}
        </button>
      </h2>
      <div [attr.aria-labelledby]="'businessesAccordion' + cityName"
           [attr.id]="'collapseBusinessesAccordion' + cityName"
           class="accordion-collapse collapse"
           data-bs-parent="#accordionBusinessesParent">
        <div class="accordion-body">

          <div class="accordion" id="accordionBusinessesMain">
            <div *ngFor="let businessEntry of businessesSearchResponse.businesses; let ind = index"
                 class="accordion-item">
              <h2 class="accordion-header" id="{{ 'businessesAccordion' + cityName + ind }}">
                <button [attr.aria-controls]="'collapseBusinessesAccordion' + cityName + ind"
                        [attr.data-bs-target]="'#collapseBusinessesAccordion' + cityName + ind"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-toggle="collapse" type="button">
                  {{ businessEntry.name }}
                </button>
              </h2>
              <div [attr.aria-labelledby]="'businessesAccordion' + cityName + ind"
                   [attr.id]="'collapseBusinessesAccordion' + cityName + ind"
                   class="accordion-collapse collapse"
                   data-bs-parent="#accordionBusinessesMain">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-2">
                      <label>Nome</label>
                      <p>{{ businessEntry.name }}</p>
                    </div>
                    <div class="col-2">
                      <label>Categorie</label>
                      <p>{{ getCategories(businessEntry.categories) }}</p>
                    </div>
                    <div class="col-2">
                      <label>Attualmente</label>
                      <p>{{ businessEntry.is_closed ? 'Chiuso' : 'Aperto' }}</p>
                    </div>
                    <div class="col-2">
                      <label>Media recensioni</label>
                      <p>{{ businessEntry.rating }}</p>
                    </div>
                    <div class="col-2">
                      <label>Numero recensioni</label>
                      <p>{{ businessEntry.review_count }}</p>
                    </div>
                    <div class="col-2">
                      <label>Telefono</label>
                      <p>{{ businessEntry.display_phone }}</p>
                    </div>
                    <div class="col-2">
                      <label>Indirizzo</label>
                      <p>{{ businessEntry.location.display_address.join(' ') }}</p>
                    </div>
                    <div class="col-2">
                      <label>Distanza (m)</label>
                      <p>{{ businessEntry.distance.toFixed() }}</p>
                    </div>
                    <div class="col-2">
                      <label>Latitudine</label>
                      <p>{{ businessEntry.coordinates.latitude.toFixed(2) }}</p>
                    </div>
                    <div class="col-2">
                      <label>Longitudine</label>
                      <p>{{ businessEntry.coordinates.longitude.toFixed(2) }}</p>
                    </div>
                    <div class="col-2">
                      <button (click)="setModalData(businessEntry.name, businessEntry.image_url)"
                              data-bs-target="#photoModal" data-bs-toggle="modal"
                              type="button">Foto
                      </button>
                    </div>
                    <div class="col-2">
                      <a [href]="businessEntry.url" target="_blank">Apri su Yelp</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="photoModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'Foto di ' + name }}</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <img [alt]="'Foto di ' + url"
             [src]="url"/>
      </div>
    </div>
  </div>
</div>
